@font-face {
  font-family: 'GothamBook';
  src: local('GothamBook'), url('./gotham-500.woff') format('woff');
}
@font-face {
  font-family: 'GothamLight';
  src: local('GothamBook'), url('./gotham-light.woff') format('woff');
}

body,p,.page-content,.top-link .dropdown-menu{
    font-family:"GothamLight" !important;
}
#main-footer,#main-header,h1,h2,h3,h4,h5,h6{
    font-family:"GothamBook" !important;
    
}